/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: unset;
  font-style: unset;
}

/* home css */
body {
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #12c2e9;
  background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 1000;
}
.main-header-item {
  color: white;
  margin: 0 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s, font-size 0.3s;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
}
.main-header-item:hover {
  color: #ff9292;
  font-size: 1.3rem;
}
.main-header-item .active {
  color: #fff34d;
  font-size: 1.4rem;
  transition: color 1s;
  pointer-events: none;
}
.home {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.profile-container,
.blog-container,
.portfolio-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.profile-container {
  width: 100vw;
  height: 100vh;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.home img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 40px;
  animation-name: fade-in;
  animation-duration: 1s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-name {
  color: white;
  font-size: 2.7rem;
  animation-name: go-right;
  animation-duration: 2s;
  font-family: "Lobster", cursive;
  cursor: default;
}
@keyframes go-right {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.home-info {
  color: white;
  font-size: 1.4rem;
  animation-name: go-left;
  animation-duration: 2s;
  cursor: default;
}
@keyframes go-left {
  from {
    transform: translateX(150px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.home hr {
  width: 400px;
  border: 1px solid white;
  margin: 20px 0 15px 0;
  animation-name: fade-in;
  animation-duration: 1s;
}

/* Profile css */
.back-paper {
  position: absolute;
  bottom: -50px;
  max-width: 800px;
  width: 50%;
  min-width: 500px;
  box-shadow: 0 -15px 40px 7px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  background: -webkit-linear-gradient(to bottom, #ffffff, #ffffff, #e4e4e4);
  background: linear-gradient(to bottom, #ffffff, #ffffff, #e4e4e4);
}
.back-paper.right {
  left: 40%;
  height: 650px;
  animation-name: back-paper-up-right;
  animation-duration: 1.5s;
  transform: rotateZ(15deg);
}
.back-paper.left {
  right: 40%;
  height: 700px;
  animation-name: back-paper-up-left;
  animation-duration: 2s;
  transform: rotateZ(-15deg);
}
.profile {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  width: 50%;
  background: #ffffff;
  background: -webkit-linear-gradient(to bottom, #ffffff, #ffffff, #e4e4e4);
  background: linear-gradient(to bottom, #ffffff, #ffffff, #e4e4e4);
  padding: 50px 50px 0 50px;
  cursor: default;
  box-shadow: 0 -15px 40px 7px rgba(0, 0, 0, 0.2);
  animation-name: up;
  animation-duration: 2.6s;
}
@keyframes up {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes back-paper-up-right {
  from {
    transform: translateX(-20%) translateY(100%) rotateZ(35deg);
  }
  to {
    transform: translateY(0) rotateZ(15deg);
  }
}
@keyframes back-paper-up-left {
  from {
    transform: translateX(20%) translateY(100%) rotateZ(-35deg);
  }
  to {
    transform: translateY(0) rotateZ(-15deg);
  }
}
.profile-top {
  display: flex;
  margin-bottom: 70px;
}
.profile-top img {
  width: 160px;
  height: 200px;
  border: 1px solid #bdbdbd;
  object-fit: cover;
  object-position: center;
  margin-right: 50px;
  box-sizing: border-box;
}
.profile-top-right {
  width: 100%;
  height: 200px;
  text-align: center;
}
.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  font-weight: 700;
  font-size: 3rem;
  color: #ff848c;
}
.profile-name-box {
  display: flex;
  height: 40%;
  border: 1px solid #bdbdbd;
}
.profile-name-box .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-right: 1px solid #bdbdbd;
}
.profile-name-box .write {
  width: 80%;
}
.name-kr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-bottom: 1px solid #bdbdbd;
}
.name-en {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.sub {
  font-weight: 700;
  font-size: 1rem;
  color: #1d1d1d;
}
.write {
  color: #303030;
}
.profile-bottom {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-bottom: 0px;
}
.profile-bottom-line {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
}
.profile-bottom-line.space {
  border-bottom: 0;
}
.profile-bottom-line .sub {
  width: 20%;
  text-align: center;
  padding: 16px 0;
  border-right: 1px solid #bdbdbd;
}
.profile-bottom-line .write {
  width: 80%;
  text-align: center;
  padding: 16px 0;
}

/* portfolio css */
.warn {
  display: none;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.portfolio-menu.disable {
  transform: translateY(100vh);
}
.btn-back {
  position: fixed;
  color: white;
  font-size: 5rem;
  bottom: 4vw;
  left: 5vw;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  transition: transform 0.5s;
}
.btn-back:hover {
  transform: translateY(-10px);
}
.fas.fa-chevron-circle-left.btn-back.disable {
  display: none;
}
.portfolio-item {
  margin: 0 5vw;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio-item:hover {
  transform: translateY(-30px);
}
.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 1);
  border-radius: 100%;
}
.portfolio-item:hover .round {
  box-shadow: 0 0 40px 10px rgba(255, 238, 180, 1);
}
.round .fas,
.round .far {
  font-size: 5rem;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 40px;
}
.portfolio-item:hover .round .fas,
.portfolio-item:hover .round .far {
  text-shadow: rgba(255, 238, 180, 0.9) 0px 0px 40px;
}
.sort {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 3rem;
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 30px;
}
.portfolio-item:hover .sort {
  text-shadow: rgba(255, 238, 180, 0.7) 0px 0px 30px;
}

/* selected-portfolio */
.selected-container {
  display: flex;
  justify-content: center;
}
.selected-box {
  position: relative;
  margin: 0 3vw;
  cursor: pointer;
  transition: transform 0.3s;
  animation-name: select-box-on;
  animation-duration: 0.3s;
}
.selected-box:hover {
  transform: translateY(-30px);
}
@keyframes select-box-on {
  from {
    transform: scale(0);
  }
  to {
  }
}
.selected-box img {
  width: 400px;
  height: 250px;
  object-position: center;
  object-fit: cover;
  border: 4px solid transparent;
  border-radius: 18px;
  box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.selected-box div {
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin-top: 34px;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

/* work css */
.work-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 30px;
}
.btn-close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}
.work-box img {
  width: 650px;
  height: auto;
  margin-right: 20px;
  border-radius: 15px;
}
.work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.work-title {
  font-size: 2rem;
  font-weight: 700;
  color: #18ffa6;
  margin: 25px 0 25px 0;
}
.work-intro {
  width: 600px;
  font-size: 1.4rem;
  color: white;
  margin: 25px 0 25px 0;
  line-height: 2rem;
}
.work-icon.disable {
  display: none;
}
.work-icon .fas,
.work-icon .fab {
  font-size: 2.5rem;
  color: white;
  margin: 25px 30px 25px 30px;
}
.work-icon .fas:hover,
.work-icon .fab:hover {
  color: #fff34d;
}
.work-icon .fas.disable,
.work-icon .fab.disable {
  display: none;
}

/* react-transition-group */
.page-change-enter {
  transform: translateX(100vw);
}
.page-change-enter-active {
  transform: translateX(0);
  transition: transform 1s;
}
.page-change-exit {
  transform: translateX(0);
}
.page-change-exit-active {
  transform: translateX(-100vw);
  transition: transform 1s;
}

/* media */
@media (max-width: 1400px) {
  .work-intro {
    width: 350px;
  }
}
@media (max-width: 1000px) {
  .page-change-enter {
    transform: translateX(200vw);
  }
  .page-change-enter-active {
    transform: translateX(0);
    transition: transform 1s;
  }
  .page-change-exit {
    transform: translateX(0);
  }
  .page-change-exit-active {
    transform: translateX(-200vw);
    transition: transform 1s;
  }
}
@media (max-width: 900px) {
  .main {
    background: #12c2e9;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  }
  .profile {
    width: 80%;
    min-width: 310px;
    padding: 10px 5% 0 5%;
  }
  .profile-top img {
    display: none;
  }
  .profile-top-right {
    height: 150px;
  }
  .profile-title {
    height: 50%;
    font-size: 2rem;
  }
  .profile-name-box {
    height: 50%;
  }
  .sub,
  .write {
    word-break: normal;
    font-size: 1rem;
  }
  .profile-bottom-line .sub,
  .profile-bottom-line .write {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    line-height: 1.2rem;
    word-break: keep-all;
  }
  .profile-top {
    margin-bottom: 15px;
  }
  .back-paper.left {
    height: 67vh;
    min-height: unset;
    max-height: unset;
  }
  .back-paper.right {
    height: 70vh;
    min-height: unset;
    max-height: unset;
  }
  .portfolio-container {
    display: none;
  }
  .warn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .warn span {
    padding: 0 30px;
  }
}
@media (max-width: 550px) {
  .main-header {
    margin-top: 10px;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .main-header-item {
    width: 50%;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  }
  .home img {
    max-width: 200px;
    max-height: 200px;
    width: 50vw;
    height: 50vw;
  }
  .home-name {
    font-size: 2.3rem;
    text-align: center;
    line-height: 3rem;
  }
  .home-info {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
  }
  .home hr {
    max-width: 400px;
    width: 80vw;
  }
}
@media (max-width: 350px) {
  .page-change-enter {
    transform: translateX(300vw);
  }
  .page-change-enter-active {
    transform: translateX(0);
    transition: transform 1s;
  }
  .page-change-exit {
    transform: translateX(0);
  }
  .page-change-exit-active {
    transform: translateX(-300vw);
    transition: transform 1s;
  }
}
